{% extends "master.html" %}

{% block title %}
  Blood Bank Management System
{% endblock %}


{% block content %}
  <h1 align="center">Blood Bank Management System</h1>
  <hr color = "900000">
  <h3 color="red">Because of You, Life Doesn’t Stop</h3>
  <p>Every two seconds, someone in the U.S. needs blood. This could be a little girl in the ICU or a mother with Stage 3 leukemia. If you’re worried about needles, don’t be—most blood donors compare the experience to a mild, split-second pinch! The entire process is very safe and very fast, and you will feel amazing knowing you potentially saved up to three people.
</p>
<p>Are you ready to donate blood but need more information? Maybe you’re not sure what type of blood donation you should make. Or you’re ready to make your blood donation appointment and need to find Vitalant donation centers nearby. Find the resources you need and links to our appointment schedulers in the sections below.</p>
  <h2 style="Color:Blue;">Donate Blood, Save Lives</h2>

  <h3 style="Color:Red;">Our Valued Donors</h3>


  <p>Check out all our <a href="donors/">donors</a></p>

{% endblock %}